.intro__button
  width 171px
  background-color $accent-color
  color: $default-color
  font 700 15px/64px $primaryFont
  text-transform uppercase
  outline none
  border none
  border-radius 5px
  &:hover
    transition ease-in-out .7s
    background-color $default-color
    color: $accent-color

.primary-btn
  padding 0
  color $accent-color
  font: 400 14px $mainFont
  text-transform uppercase
  background none
  outline none

  
