.accent-dot
  color $accent-color 
  font-size 26px

.primary-title
  color $primary-title-color
  font-weight: 700
  font-family $mainFont
  text-transform uppercase

.description
  color $primary-color
  font 400 15px/22px $primaryFont

.fa-arrow-right
  padding-left 7px
  font-size: 12px

@media(min-width: 768px)
  .container
    width 740px

@media(min-width: 992px)
  .container
    width 941px

@media(min-width: 1200px)
  .container
    width 941px

