.info
  min-height 312px
  
  .title
    width 215px
    font-size 26px
  
  .description
    max-width 257px
    margin 20px 0 29px
  
  .accent-dot
   line-height 0

.info__item:nth-child(1)
  .title
    width 120px

.info__item
  margin 86px 0

a.info__more-btn
  color $accent-color

