@media(max-width: 768px)
  .container
    text-align center


  .intro__button
    margin 0 auto

  .info__item:nth-child(1) .title, .info__list .title
      margin: auto

  .info__item
    margin 40px 0

  .info .description
    margin: 10px auto 10px
  
  .person__list .about-me, .description 
    margin auto

  .person__item .title
    margin-top 15px

@media(max-width: 480px)
  .hero .title
    font-size 32px

  .intro
    background-position left 

  .portfolio__item:nth-child(1)
    display none

  .footer__list-icon
    margin auto