.team
  padding 47px 0 62px
  border-bottom: 1px solid $neutral-primary

.person__list
  margin-bottom 36px
  .title
    font-size 22px
  
  .subtitle
    margin 9px 0 11px
    color $accent-color
    font-size 14px
  
  .about-me
    width 144px
    font-size 14px

.team__title, .accent-dot
  font-size 32px

.team__subtitle
  margin-top 8px
  color $primary-color
  font-size 16px

.team__item
  margin-top 40px
