.footer
  .flex-wrap
    min-height 92px

  .fab
    color $neutral-placeholder
    font-size 20px
    &:hover
      color $accent-color
      transition ease-in-out .7s

.footer__list-icon
  width 132px

.footer__copyright
  max-width 285px
  display block
  font-size 13px